 @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Nunito Sans", sans-serif;
    scroll-behavior: smooth;
 }

 :root {
    --colour1: #313336;
    --colour2: #3e5055;
    --colour3: #388da8;
    --colour4: #77b6ca;
    --colour5: #3d4348;
    --colour6: #ffc107;

 }

 .clearfix {
    clear: both;
 }



 
 
 #scroll_top i{
   position: fixed;
   right: 15px;
   bottom: 15px;
   color: white;
   font-size: 20px;
   background-color: var(--colour3);
   border: 1px solid var(--colour3);
   padding: 11px;
   border-radius: 50px;
   transition: .3s;
   z-index: 9;
 }
 #scroll_top i:hover{
   background-color: #388ea8d0;
 }










 header {
   z-index: 9;
    background-color: white;
    position: fixed;
    width: 100%;
    height: auto;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
 }


 .logo a {
    display: flex;
    gap: 10px;
    align-items: center;
 }

 .logo a img {
    width: 40px;
 }

 .logo a figcaption {
    font-weight: 700;
    font-size: 31px;
    color: var(--colour2);
 }




 .nav_container {

    width: 1140px;
    height: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
 }

 .navbar_menu ul {
    display: flex;
    gap: 30px;
    align-items: center;

 }

 .navbar_menu ul li a {
    color: var(--colour1);
    font-size: 17px;
    font-weight: 500;
    transition: .3s;
 }

 .navbar_menu ul button {
    width: 120px;
    border: none;
    background-color: var(--colour3);
    border-radius: 100px;
    padding: 9px;
    transition: .3s;
 }

 .navbar_menu ul button a {
    color: white;
    font-size: 15px;
 }

 .navbar_menu ul li a:hover {
    color: var(--colour4);
 }

 .navbar_menu ul button:hover {
    background-color: #388ea8d0;
 }







 /* - - - - - -- - - - - - - - -  */






 #home {
    width: 100%;
    height: auto;
    padding-top: 200px;
    background: url(../image/background.png) no-repeat;

    background-size: cover;
 }

 .home_container {
    width: 1140px;
    margin: auto;
    text-align: center;
    height: auto;
 }

 .home_container h1 {
    font-size: 48px;
    font-weight: 700;
    color: var(--colour2);
 }

 .home_container h1 span {
    color: var(--colour3);
 }

 .home_container p {
    color: rgba(62, 80, 85, 0.7);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
 }

 .home_container_button {
    margin: auto;
    width: 310px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
 }

 .home_container_button_1 {
    background-color: var(--colour3);
    color: white;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 12px 15px;
    border-radius: 50px;
    transition: .3s;
 }

 .home_container_button_2 {
    display: flex;
    align-items: center;
    margin: auto;
    gap: 2px;

 }


 .home_container_button_2 i {
    font-weight: 100;
    font-size: 40px;
    color: var(--colour3);
    align-items: center;
 }

 .home_container_button_2 a {
    color: var(--colour1);

    font-weight: 800;
    font-size: 16px;
    transition: .4s;
 }

 .home_container_button_2:hover a {
    color: var(--colour3);
 }

 .home_container_button_1:hover {
    background-color: #388ea8d0;
 }

 .home_container img {
    max-width: 600px;
 }

 /* - - - - - - - - - - - - - - - - - -   */

 #home_features {
    width: 100%;
    height: auto;
    padding: 60px 0px;
    margin-top: 20px;
    background-color: rgba(73, 145, 167, 0.07);
 }

 .home_features_container {
    height: auto;
    width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

 }

 .home_features_container_box {
    display: flex;
    align-items: center;
    gap: 15px;
 }

 .home_features_container_box i {
    color: var(--colour3);
    background-color: rgba(56, 142, 168, 0.2);
    border-radius: 2px;
    font-size: 32px;
    padding: 18px;
    transition: 0.3s;
 }

 .home_features_container_box h5 {
    font-size: 18px;
    color: var(--colour2);
    transition: 0.3s;
 }

 .home_features_container_box p {
    color: var(--colour2);
    font-size: 14px;
 }

 .home_features_container_box:hover h5 {
    color: var(--colour3);
 }

 .home_features_container_box:hover i {
    color: white;
    background-color: var(--colour3);
 }

 /* - - - - - - - - - --  --  */

 #about {
    width: 100%;
    height: auto;
    padding-top: 150px;
 }

 .about_container {
    width: 1140px;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }

 .about_container_info h3 {
    color: rgba(61, 67, 72, 0.4);
    font-size: 15px;
    margin-bottom: 12px;
 }

 .about_container_info h5 {
    color: var(--colour2);
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 12px;
 }

 .about_container_info em,
 ul li {
    color: var(--colour1);
    font-size: 16px;
    margin: 15px 0px;
 }

 .about_container_info ul li i {
    color: var(--colour4);
    font-size: 24px;
 }

 .about_container_info ul {
    margin-bottom: 30px;
 }

 .about_container_info a {
    background-color: var(--colour3);
    color: white;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 24px;
    border-radius: 5px;
    transition: 0.3s;

 }

 .about_container_info a:hover {
    background-color: #388ea8d0;
 }



 .about_container_image img {
    width: 100%;
    border-radius: 13px;
 }

 .about_container_image div img {
    margin-bottom: 13px;
 }

 .about_container_image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
 }
















 #client {
    width: 100%;
    height: auto;
    padding-top: 50px;
 }

 .client_container {
    width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    justify-items: center;
 }

 .client_container img {
    width: 80%;
    padding: 20px;
    transition: .5s;
 }

 .client_container img:hover {
    transform: scale(1.3);
 }
















 #features {
    width: 100%;
    height: auto;
    padding-top: 150px;
 }

 .features_heading h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--colour2);
 }

 .underline {
    width: 50px;
    margin: auto;
    height: 3px;
    background-color: var(--colour3);
    margin-bottom: 20px;
 }

 .features_heading p {
    text-align: center;
    color: var(--colour5);
    font-weight: 600;
    margin-bottom: 20px;
 }




 .features_container {
    width: 1140px;
    margin: auto;
    display: grid;
    padding-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
 }

 .features_container figure img {
    width: 100%;
    border-radius: 15px;
 }



 .features_container_text1 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px 111px 0px 10px;
 }

 .features_container_text1_box {
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 10px;
    padding: 25px;
    margin: 10px 0px;
    transition: .4s;
 }

 .features_container_text1_box:hover {
    background-color: #88b0bc12;
 }

 .features_container_text1_box div h5 {
    color: var(--colour2);
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px 0;
    transition: 0.3s;
 }

 .features_container_text1_box div p {
    color: #3d4348;
    font-size: 15px;
 }

 .features_container_text1_box i {
    color: var(--colour3);
    font-size: 22px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(70, 65, 75, 0.09);
    margin-bottom: 60px;
    height: 45px;
    padding: 12px;
    border-radius: 50px;

 }








 .features_container_text2 {
    /* width: 100%; */
    /* height: auto; */
    align-self: center;

 }

 .features_container_text2_container {
    /* width: 470px; */
    background-color: #88b0bc12;
    border-radius: 15px;
    margin-left: 100px;
    padding: 35px;
 }

 .features_container_text2_container h5 {
    color: var(--colour2);
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 15px;
 }

 .features_container_text2_container p {

    color: #3e5055c0;
    margin-bottom: 20px;
 }

 .features_container_text2_container a {
    color: white;
    background-color: var(--colour3);
    padding: 6px 30px;
    border-radius: 6px;
    transition: .3s;

 }

 .features_container_text2_container a:hover {
    background-color: #388ea8d0;
 }

 .features_container_img2 {
    margin: 120px 0px;

 }









 .features_container_text3 {
    /* width: 100%;
    height: auto; */
    align-self: center;

 }

 .features_container_text3_container {
    /* width: 470px; */
    margin-right: 70px;
    background-color: #88b0bc12;
    border-radius: 15px;

    padding: 35px;
 }

 .features_container_text3_container h5 {
    color: var(--colour2);
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 15px;
 }

 .features_container_text3_container p {

    color: #3e5055c0;
    margin-bottom: 20px;
 }

 .features_container_text3_container a {
    color: white;
    background-color: var(--colour3);
    padding: 6px 30px;
    border-radius: 6px;
    transition: .3s;

 }

 .features_container_text3_container ul {
    margin-bottom: 30px;
 }

 .features_container_text3_container ul li {
    display: flex;
    gap: 7px;
    align-items: center;
 }

 .features_container_text3_container ul li span {
    color: #3e5055c0;

 }

 .features_container_text3_container ul li i {
    color: var(--colour3);
    font-size: 25px;

 }

 .features_container_text3_container a:hover {
    background-color: #388ea8d0;
 }








 #service {
    width: 100%;
    height: auto;
    padding-top: 150px;
    padding-bottom: 50px;
    margin-top: 50px;
    background-color: rgba(56, 142, 168, 0.027);
 }

 .service_heading h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--colour2);
 }

 .underline {
    width: 50px;
    margin: auto;
    height: 3px;
    background-color: var(--colour3);
    margin-bottom: 20px;
 }

 .service_heading p {
    text-align: center;
    color: var(--colour5);
    font-weight: 600;
    margin-bottom: 20px;

 }






 .service_container {
    width: 1140px;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-top: 40px;
 }

 .service_box {
    display: flex;
    gap: 25px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #63616629;
    padding: 30px;
    transition: .2s;
 }

 .service_box:hover {
    box-shadow: 0px 0px 30px rgba(99, 97, 102, 0.082);
 }

 .service_box h5 {
    color: var(--colour2);
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 15px;
 }

 .service_box p {
    color: #3e5055c0;
    margin-bottom: 10px;
 }

 .service_box .logo {
    font-size: 35px;
    font-weight: 100;
    height: 70px;
    padding: 17px;
 }

 .service_box a {
    color: var(--colour3);
    font-size: 14px;
    font-weight: 600;
 }

 .service_box .ri-line-chart-line {
    border-radius: 10px;
    color: #0dcaf0;
    border: 1px solid #0dcaf0;
    background: rgba(13, 202, 240, 0.1);
 }

 .service_box .ri-broadcast-line {
    border-radius: 10px;
    color: #fd7e14;
    border: 1px solid #fd7e14;
    background: rgba(253, 126, 20, 0.1);
 }

 .service_box .ri-artboard-line {
    border-radius: 10px;
    color: #20c997;
    border: 1px solid #20c997;
    background: rgba(32, 201, 151, 0.1);
 }

 .service_box .ri-square-line {
    border-radius: 10px;
    color: #df1529;
    border: 1px solid #df1529;
    background: rgba(223, 21, 4, 0.1);
 }

 .service_box .ri-calendar-2-line {
    border-radius: 10px;
    color: #6610f2;
    border: 1px solid #6610f2;
    background: rgba(102, 16, 242, 0.1);
 }

 .service_box .ri-chat-2-line {
    border-radius: 10px;
    color: #f3268c;
    border: 1px solid #f3268c;
    background: rgba(243, 38, 140, 0.1);
 }


 #service2 {
    width: 100%;
    height: auto;
    padding: 60px 0px;
 }

 .service2_container {
    width: 1140px;

    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
 }

 .service2_container_img img {
    width: 100%;
    /* padding: 0px 20px; */
    /* height: 450px; */
 }

 .service2_container_text {
    margin: 0px 20px;
 }

 .service2_container_text_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

 }

 .service2_container_text_container_box {
    display: flex;
    gap: 10px;
 }

 .service2_container_text h4 {
    color: var(--colour2);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
 }

 .service2_container_text p {
    color: var(--colour5);
    margin-bottom: 20px;
 }

 .service2_container_text_container_box i {
    color: var(--colour3);
    font-size: 24px;
 }

 .service2_container_text_container_box div h5 {
    color: var(--colour2);
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
 }

 .service2_container_text_container_box div p {
    color: var(--colour5);
    line-height: 24px;
    font-size: 14px;
    /* margin-bottom: 20px; */
 }











 #pricing {
    width: 100%;
    height: auto;
    padding-top: 150px;
 }

 .pricing_heading h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--colour2);
 }

 .pricing_heading p {
    text-align: center;
    color: var(--colour5);
    font-weight: 600;
    margin-bottom: 20px;

 }

 .pricing_container {
    width: 1140px;
    margin: auto;
    padding: 50px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
 }

 .pricing_plans {
    background-color: rgba(56, 142, 168, 0.035);
    padding: 40px;
    border-radius: 20px;

 }

 .pricing_plans h4 {
    color: var(--colour2);
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
 }

 .pricing_plans h6 {
    font-size: 14px;
    color: var(--colour5);
    font-weight: 500;
    margin-bottom: 16px;
 }

 .pricing_plans h5 {
    color: var(--colour3);
    font-size: 48px;
    font-weight: 700;
 }

 .pricing_plans h5 sup {
    font-size: 25px;
 }

 .pricing_plans h5 span {
    color: rgba(61, 67, 72, 0.5);
    font-size: 18px;
    font-weight: 500;
 }

 .pricing_plans a {
    background-color: var(--colour5);
    color: white;
    display: block;
    text-align: center;
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    margin: 20px 0px 6px;

 }

 .pricing_plans p {
    color: var(--colour5);
    text-align: center;
 }

 .pricing_plans ul li {
    display: flex;
    align-items: center;
    gap: 7px;
    color: rgba(61, 67, 72, 0.8);
    line-height: 25px;
    font-weight: 500;
 }


 .pricing_plans .ri-check-line {
    font-size: 18px;
    font-weight: bolder;
    color: rgb(1, 159, 1);
 }

 .pricing_plans .ri-close-line {
    font-size: 20px;
    font-weight: 500;
    color: rgba(61, 67, 72, 0.5);
 }

 .pricing_plans .cross {
    text-decoration: line-through;
    color: rgba(61, 67, 72, 0.5);
 }

 .free_plan a:hover {
    background-color: var(--colour3);
 }

 .business_plan a {
    background-color: var(--colour3);
 }

 .developer_plan a:hover {
    background-color: var(--colour3);
 }
 .business_plan{
   position: relative;
 }
 .business_plan .popular{
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: var(--colour3);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
 }














 #questions {
    width: 100%;
    height: auto;
    padding: 50px 0px;
 }

 .questions_heading h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--colour2);
 }

 .questions_container {
    width: 1140px;
    margin: auto;
    padding: 10px 90px;
 }

 .questions_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid rgba(61, 67, 72, 0.2);
    border-radius: 5px;
    margin: 20px;
    padding: 15px;
    align-items: center;
 }

 .questions_box span {
    color: var(--colour2);
    font-weight: 600;
    font-size: 16px;
    transition: .3s;
 }

 .questions_box i {
    text-align: right;
    color: rgba(61, 67, 72, 0.7);
    font-weight: lighter;
    font-size: 35px;
 }

 .questions_box:hover span {
    color: var(--colour3);
 }









 #testimonials {
    width: 100%;
    height: auto;
    padding: 50px 0px;
    background-color: rgba(56, 142, 168, 0.03);
 }

 .testimonials_heading {
    text-align: center;
 }

 .testimonials_heading h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--colour2);
 }

 .testimonials_heading p {
    text-align: center;
    color: var(--colour5);
    font-weight: 600;
    /* margin-bottom: 20px; */

 }

 .testimonials_container {
    width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 70px 20px;
 }

 .testimonials_container_box {
    box-shadow: 0px 0px 30px 5px rgba(70, 65, 75, 0.1);
    background-color: white;
    border-radius: 5px;
    padding: 50px 40px;
    margin: 30px 20px;
    text-align: center;
    
 }
 .owl-item.active{
   opacity: .3;
   transform: scale(.95) !important;
 }
 .owl-item.center {
   opacity: 1;
   transform: scale(1.05) !important;
 }
  

 .testimonials_star {
    font-size: 18px;
    font-weight: bolder;
    color: var(--colour6);
    margin-bottom: 15px;
 }

 .testimonials_container_box p {
    color: var(--colour5);
    font-weight: 500;
    font-style: italic;
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 25px;
 }

 .testimonials_container_box img {
    margin: auto;
    width: 110px !important;
    border-radius: 50%;
    margin-bottom: 13px;
 }

 .testimonials_container_box h3 {
    font-size: 20px;
    color: var(--colour2);
    margin-bottom: 5px;
 }

 .testimonials_container_box h4 {
    font-weight: 600;
    color: rgba(61, 67, 72, 0.6);
 }
  









 #contact {
    width: 100%;
    height: auto;
    padding-top: 150px;
 }

 .contact_heading h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--colour2);
 }

 .contact_heading p {
    text-align: center;
    color: var(--colour5);
    font-weight: 600;
    margin-bottom: 50px;

 }

 .contact_container {
    width: 1140px;
    margin: auto;
    padding-top: 20px 0px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
 }

 .contact_container_box1 i,
 .contact_container_box2 div i {
    color: var(--colour3);
    font-size: 27px;
    font-weight: lighter;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(70, 65, 75, 0.09);
    padding: 13px;
    border-radius: 50px;

 }




 .contact_container_box2 {
    display: flex;
    gap: 30px;

 }

 .contact_container_box1,
 .contact_container_box2 div {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 35px 50px;
    text-align: center;
    width: 100%;
 }

 .contact_container_box1 h5,
 .contact_container_box2 div h5 {
    color: var(--colour2);
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
    margin-top: 20px;
 }

 .contact_container_box1 p,
 .contact_container_box2 div p {
    font-size: 14px;
    color: var(--colour5);
 }

 .contact_container_box3 iframe {
   /* width="600" height="450" */
   width: 600px;
   height: 450px;
 }


 .contact_container_box4 {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px;
 }

 .form-control input,
 textarea {
    width: 100%;
    font-size: 15px;
    padding: 10px 15px;
    margin-bottom: 30px;
    border: 1px solid rgba(61, 67, 72, 0.3);

 }

 .form-control input:focus,
 textarea:focus {
    outline: none;
    border-color: var(--colour3);
 }

 .form-control textarea {
    height: 25vh;

 }

 ::placeholder {
    color: rgba(61, 67, 72, 0.3);
 }

 .contact_container_box4 a {
    background-color: var(--colour3);
    color: white;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 12px 25px;
    border-radius: 50px;
    transition: .3s;
 }

 .contact_container_box4 a:hover {
    background-color: #31829bd0;
 }













 #footer {
    margin-top: 60px;
    width: 100%;
    height: auto;
    background-color: rgba(56, 142, 168, 0.03);
    padding: 50px 0px;
 }

 .footer_container {
    width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 }

 .footer_hr_line {
    width: 1160px;
    height: 1px;
    background-color: rgba(61, 67, 72, 0.2);
    margin: 30px auto 30px;

 }

 .copyright {
    margin: auto;
    text-align: center;
 }

 /* box1 css  */

 .footer_box1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
 }

 .footer_box1_text {
    line-height: 25px;
    padding-right: 90px;
 }

 .footer_box1_text h1 a {
    color: var(--colour2);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
 }

 .footer_box1_text p {
    color: var(--colour5);
    font-size: 14px;
    margin: 30px 0px 15px;
 }

 .footer_box1_text span {
    color: var(--colour5);
    font-size: 14px;

 }

 .footer_box1_icon a {
    font-size: 20px;
    color: rgba(61, 67, 72, 0.7);
    border-radius: 50%;
    border: 1px solid rgba(61, 67, 72, 0.7);
    margin-right: 10px;
    padding: 7px 10px;
    transition: 0.3s;
 }

 .footer_box1_icon a:hover {
    color: var(--colour3);
    border: 1px solid var(--colour3);
 }


 /* box2 css + box3 css   */


 .footer_box2 {
    margin-left: 100px;

 }

 .footer_box2 h3 {
    color: var(--colour2);
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 12px;

 }

 .footer_box2 ul li a {
    color: rgba(61, 67, 72, 0.7);
 }

 .footer_box2 ul li a:hover {
    color: var(--colour3);
 }

 .footer_box3 {
    margin-left: 50px;
 }

 .footer_box3 h3 {
    color: var(--colour2);
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 12px;
 }

 .footer_box3 ul li a {
    color: rgba(61, 67, 72, 0.7);
 }

 .footer_box3 ul li a:hover {
    color: var(--colour3);
 }


 /* footer_box4  */

 .footer_box4 {
    width: 360px;
 }

 .footer_box4 h3 {
    color: var(--colour2);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
 }

 .footer_box4 p {
    font-weight: 500;
    color: var(--colour5);
    font-size: 14px;
 }

 .footer_box4 div {
    display: inline-flex;
    /* position: relative; */
    margin: 30px 0px;
    border: 1px solid var(--colour3);
    border-radius: 50px;
    background-color: white;
 }

 .footer_box4 input {

    width: 230px;
    margin: 0px 5px;
    outline: none;
    border: none;
    background: transparent;
    padding: 12px;
 }

 .footer_box4 a {
    /* position: absolute; */
    background-color: var(--colour3);
    color: white;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 12px 20px;
    border-radius: 50px;
    transition: .3s;
 }

 .footer_box4 a:hover {
    background-color: #31829bd0;
 }

 /* copyright  */
 .copyright {
    font-weight: 600;
    color: rgba(61, 67, 72, 0.8);
    font-size: 14px;
 }

 .copyright p {
    margin-bottom: 10px;
 }

 .copyright a {
    color: var(--colour3);
 }